@import "mixins";
@import "desine";


header{
    z-index: 1;
    margin-top: -100px;
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
}

.nav{
    height: 100px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__list{
        transition: 0.5s;
        ul{
            display: flex;
            gap: 24px;

            a{
                color:  #333;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
            }
           
        }
        
    }

    &__btn{
        // display: none;
        @include btn;
    }

    .humburger{
        display: none;
        img{
            height: 45px;
        }
    }

    @media (max-width:950px){
        &__list{
            display: none;
        }
        &__btn{
            display: none;
        }
        .humburger{
            display: inline-block;
        }
    }
}

.studiya{

    padding-top: 90px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    &__left{
        h1{
            @include text__style;
            span{
                @include text__style (55px, 500);
            }
        }
        p, button{
            @include text__style (16px, 600);
        }

        button{
            @include btn (250px, #77B2D3);
        }
    }

    @media (max-width:1150px) {
        grid-template-columns: 1fr;
        gap: 50px;
    }

}


#navbar-responsive{
    display: none;

    // display: block;
}

